@import "./media.scss";

.articles {
  --articlesFilterGap: 10px 20px;
  --articlesSliderPt: 100px;

  &__filter {
    display: flex;
    flex-wrap: wrap;
    gap: var(--articlesFilterGap);
  }

  @media(max-width: $mobile) {
    --articlesFilterGap: 8px 12px;
    --articlesSliderPt: 50px;
  }

  &__slider {
    padding-top: var(--articlesSliderPt);
  }
}