$mobileMinimum: 375px;

$mobileSmall: 480px;

$mobileMedium: 640px;

$mobile: 767px;

$tabletMinimum: 768px;

$tabletSmall: 920px;

$tabletMedium: 1024px;

$tablet: 1280px;

$desktopMinimum: 1320px;

$desktopSmall: 1366px;

$desktopMedium: 1480px;

$desktopExtraMedium: 1680px;

$desktopLarge: 1720px;

$desktop: 1920px;
