:root {

    /* цвета */
    --colorPolar: #E6F4FA;
    --colorPacificBlue: #0095CD;
    --colorBCuriousBlue: #1BABE3;
    --colorPictonBlue: #24C7EB;
    --colorWhite: #FFF;
    --colorBaliHai: #8995AB;
    --colorBaliHaiOpaciti50: #8995AB80;
    --colorDoveGray: #707070;
    --colorAbbey: #474C51;

    --colorBlueLiner2: linear-gradient(96.72deg, #0095CD 13.33%, #1BABE3 60.7%, #24C7EB 101.33%);

    --boxShadow: 0px 1px 8px 0px #00000033;

    --headerHeight: 80px;
}
