@import "../../styles/mixin.scss"; 
@import "swiper/css";
@import "swiper/css/navigation";

.slider {
  --sliderPadding: 10px 20px 25px;

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }

  .swiper {
    --swiperSlideMaxWd: 380px;
    
    position: relative;
    width: 100%;
    padding: var(--sliderPadding);
  
    &-slide {
      max-width: var(--swiperSlideMaxWd);
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    width: auto;
    margin-top: 0;
    top: auto;
    
    svg {
      width: auto;
      height: auto;
    }
  }

  .swiper-button-prev {
    transform: rotate(180deg);
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}